[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework-simplejwt = "~=5.4.0"
django = "*"
djangorestframework = "*"
psycopg2-binary = "~=2.9.10"
redis = "~=5.2.1"
celery = { version = "==5.4.0", extras = ["redis"]}
httpx = "*"

[dev-packages]
django-stubs = "~=5.1"
black = "*"
flake8 = "*"
isort = "*"
bandit = "*"
pytest = "*"
pytest-django = "*"
ipdb = "*"
celery-types = "*"
fastapi = "*"
pydantic = "*"

uvicorn = "*"
requests = "*"

[requires]
python_version = "3.11"
