[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework-simplejwt = "~=5.4.0"
django = "*"
djangorestframework = "*"
psycopg2-binary = "~=2.9.10"

[dev-packages]
django-stubs = "~=5.1"
black = "*"
flake8 = "*"
isort = "*"
bandit = "*"
pytest = "*"
pytest-django = "*"
ipdb = "*"

[requires]
python_version = "3.11"
